<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">Sign Up</div>
            <div class="card-body">
                <form (ngSubmit)="onRegister(f)" #f="ngForm">
                    <div class="mb-3">
                        <label class="form-label" for="">E-mail</label>
                        <input type="text" name="email" class="form-control" ngModel required maxlength="64" email>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Name</label>
                        <input type="text" name="name" class="form-control" ngModel minlength="2" maxlength="64" pattern="[a-zA-Z]*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Surname</label>
                        <input type="text" name="surname" class="form-control" ngModel minlength="2" maxlength="64" pattern="[a-zA-Z]*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Phone</label>
                        <input type="text" name="phone" class="form-control" ngModel minlength="2" maxlength="64" pattern="[a-zA-Z]*">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Password</label>
                        <input type="password" name="password" class="form-control" ngModel>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Repeat password</label>
                        <input type="password" name="" class="form-control">
                    </div>
                    <button class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>