<div class="bg-light border-right mt-4" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item mb-3">METAL</a>
        <a href="#" class="list-group-item list-group-item-action mb-3">ROOF</a>
        <a href="#" class="list-group-item list-group-item-action mb-3">FACADE</a>
        <a href="#" class="list-group-item list-group-item-action mb-3">FLOOR</a>
        <a href="#" class="list-group-item list-group-item-action mb-3">WOOD</a>
        <a href="#" class="list-group-item list-group-item-action mb-3">WALLS AND SEILINGS</a>
    </div>
</div>