<div class="bg-light border-right mt-4" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item">METALUI</a>
        <a href="#" class="list-group-item list-group-item-action">STOGUI</a>
        <a href="#" class="list-group-item list-group-item-action">FASADUI</a>
        <a href="#" class="list-group-item list-group-item-action">GRINDIMS</a>
        <a href="#" class="list-group-item list-group-item-action">MEDIENAI</a>
        <a href="#" class="list-group-item list-group-item-action">SIENOMS IR LUBOMS</a>
    </div>
</div>