<footer class="footer">
    <section class="footerContainer">
        <div class="socialMediaContainer">
            <div class="socialMedia">
                <!-- <img class="footerLogo" src="./images/footerImg/Collab.png" alt="logo image"> -->
                <p class="footerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra faucibus facilisis sem eget sed amet consectetur tincidunt mauris.</p>
                <p class="footerFollow">Follow us on:</p>
                <!-- <div class="socialMediaIcons">
                    <img src="./images/footerImg/Facebook Icon undefined.png" alt="facebook icon">
                    <img src="./images/footerImg/LinkedIn Icon undefined.png" alt="linkedin icon">
                    <img src="./images/footerImg/Instagram Icon undefined.png" alt="instagram icon">
                    <img src="./images/footerImg/YouTube Icon undefined.png" alt="youtube icon">

                </div> -->
            </div>
        </div>
        <div class="footerTableContainer">
            <table>
                <thead>
                    <th>Company</th>
                    <th>Recources</th>
                    <th>Legal</th>
                </thead>
                <tbody>
                    <tr>
                        <td>About</td>
                        <td>Blog</td>
                        <td>Terms of Service</td>
                    </tr>
                    <tr>
                        <td>Product</td>
                        <td></td>
                        <td>Privacy Policy</td>
                    </tr>
                    <tr>
                        <td>Team</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="footerTableContactUs">
                <p>Contact Us at:</p>
                <span>phanikondru&#64;gmail.com</span>
            </div>
        </div>
    </section>

    <section class="lastLine">
        <span>&#64;2022 Collab | All Rights Reserved</span>
    </section>
</footer>