<div class="card mt-3" style="background-color: #553759;">
    <!-- <div class="card-header">User list</div> -->
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Picture</th>
                    <th>Actions</th>
                    <th>E-mail</th>
                    <th>Name</th>
                    <!-- <th>Surname</th> -->
                    <th>Type</th>
                    <!-- <th>Phone</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i=index;">
                    <td>{{ i+1 }}</td>
                    <td><img [src]="user.img" alt="" style="max-width: 100px;"></td>
                    <td><a [href]="user.img" style="max-width: 100px;" class="btn btn-dark btn-block">Download</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <!-- <td>{{ user.surname }}</td> -->
                    <td>{{ user.getTypeName() }}</td>
                    <!-- <td>{{ user.phone }}</td> -->
                    <td>
                        <a class="btn btn-dark btn-sm mx-1" [routerLink]="['/users', user.id]">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-sm mx-1" (click)="onDeleteClick(user.id!)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>